.gen-password {
    background-color: #24232b;
    max-width: 21rem;
    width: 100%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        margin: 0;
        color: white;
        font-size: 1.5rem;
    }
    
    i {
        font-size: 1.3rem;
        color: #a4faae;
        cursor: pointer;
    }
}