    
 h1 {
    color: grey;
  }

.options-container {
    display: flex;
    flex-direction: column;
    background-color: #24232b;
    max-width: 21rem;
    padding: 16px 30px;
    margin-top: 1rem;
    width: 100%;
    
button {
  text-transform: uppercase;
  font-family: 'Sono', sans-serif;
  background: #a4faae;
  width: 100%;
  font-size: 20px;
  border: none;
  height: 3.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
    

label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: white
    };
}

    label :nth-child(2) {
        color: #a4faae;
        font-size: 2rem;
    }
}
